
* {
	box-sizing: border-box;
	color: rgb(109, 108, 108);
	font-size: 16pt;
	font-weight: 300;
}

body {
	padding: 0;
	margin: 0;
	background-color: rgb(241, 241, 241);
}
 
 main {
	display: grid;
	height: 100vh;
	width: 100vw;
	overflow: auto;
	grid-template-columns: 1fr 25vw 25vw 25vw 1fr;
	grid-template-rows: 4rem 1rem auto 1rem 3rem;
	grid-template-areas: 
			"header header header header header"
			". . . . ." 
			". content content content ."
			". . . . ."
			"footer footer footer footer footer";
}

/*-----------------header-----------*/
header {
	grid-area: header;
	display: grid;
	grid-template-columns: 1fr 25vw 25vw 25vw 1fr;
	grid-template-areas: ". title . buttonmenu .";
}

title {
	grid-area: title;
	display: flex;
	align-items: center;
	justify-content: center;
}

#buttonmenu {
	grid-area: buttonmenu;
	display: flex;
	align-items: center;
	justify-content: center;
}


/*-----------------SHOW HOMESCREEN-----------*/
#homescreen {
	grid-area: content;
	display: grid;
	grid-template-columns: 1fr 25vw 25vw 25vw 1fr;
	grid-template-rows: 1rem 3rem 1em auto 20vh 0.5rem 3rem 1em 1fr 1em 3rem 1em;
	grid-template-areas:
			". . . . . "
			". h1 h1 h1 ." 
			". . . . "
			". video video video ."
			". . . . "
			". bar bar bar ."
			". . . . ."
			". p p p ."
			". . . . ."
			". getmoviesbutton getmoviesbutton getmoviesbutton ."
			". . . . ."
			;
}

h1 {
	grid-area: h1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

#video {
	grid-area: video;
	display: flex;
	align-items: center;
	justify-content: center;
}

#bar {
	grid-area: bar;
	display: flex;
	align-items: center;
	justify-content: center;
}

p {
	grid-area: p;
	display: flex;
}

#getmoviesbutton {
	grid-area: getmoviesbutton;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #FDB344;

}


/*-----------------SHOW MOVIES SCREEN-----------*/
#showmovies {
	grid-area: content;
	display: none;
	grid-template-columns: 1fr 35vw 5vw 35vw 1fr;
	grid-template-rows: 3rem 1rem 3rem 0.5rem auto 1fr;
	grid-template-areas:
		". bar bar bar ."
		". . . . ."
		". suggestion arrow select ."
		". . . . ."
		". suggestionresults . selectresults ."
		". . . . ."
		;
}

#suggestion {
	grid-area: suggestion;
}

#arrow {
	grid-area: arrow;
}

#select {
	grid-area: select;
	display: flex;
}

#suggestionresults {
	grid-area: suggestionresults;
}

#selectresults {
	grid-area: selectresults;
}

/*-----------------RECOMMENDATIONS SCREEN-----------*/

#recommendations {
	grid-area: content;
	display: none;
	grid-template-columns: 35vw 5vw 35vw;
	grid-template-rows: 3rem 1rem 3rem 0.5rem auto minmax(1rem 1fr);
	grid-template-areas:
		"friendsimg . loveimg"
		". . ."
		"friendstext . lovetext"
		". . ."
		"firstfriends . firstlove"
		". . ."
		"secondfriends . secondlove"
		". . ."
		"thirdfriends . thirdlove"
		". . ."
		"fourthfriends . fourthlove"
		". . ."
		"fifthfriends . fifthlove"
		". . ."
		"sixth . sixthlove"
		". . ."
		"seventh . seventhlove"
		". . ."
		"eight . eightlove"
		". . .";
		
}


/*-----------------RESOURCES SCREEN-----------*/

#resources {
	grid-area: content;
	display: none;
	grid-template-columns: 25vw 25vw 25vw;
	grid-template-rows: auto 2rem 0.5rem 20vh 0.5rem 3rem 0.5rem auto 0.5rem 3rem 0.5rem;
	grid-template-areas:
		". resourcesTitle ." 
		"resources resources resources"
		". . .";
}


footer {
	grid-area: footer;
	display: grid;
	grid-template-columns: 1fr 10vw 10vw 10vw 10vw 10vw 25vw 1fr;
	grid-template-areas: ". fbbutton twitterbutton pinterestbutton igbutton button . .";
}

/* The side navigation menu */
.sidenav {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	right: 0;
	background-color: #111; /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
	color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	left: 25px;
	font-size: 36px;
	margin-right: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
	transition: margin-right .5s;
	padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
	}
	
#timeline-wrap{
	margin:20% 20%;
	top:100;
	position:relative;
  }
  
  #timeline{
	height:1px;
	width: 100%;
	background-color:#aabbc4;
	position:relative;
  }
  
   .marker{
		z-index:1000;
		color: #fff;
		width: 20px;
		height: 20px;
		line-height: 50px;
		font-size: 1.4em;
		text-align: center;
		position: absolute;
		margin-left: -25px;
		background-color: #999999;
		border-radius: 50%;
	}
  
   .marker:hover{
	 -moz-transform: scale(1.2);
   -webkit-transform: scale(1.2);
   -o-transform: scale(1.2);
   -ms-transform: scale(1.2);
   transform: scale(1.2);
	 
	 -webkit-transition: all 300ms ease;
   -moz-transition: all 300ms ease;
   -ms-transition: all 300ms ease;
   -o-transition: all 300ms ease;
   transition: all 300ms ease;
   }
  
  
  .timeline-icon.one {
	  background-color: #3C9ADE !important;
  }
  
  .timeline-icon.two {
	  background-color: #FFE606!important;
  }
  
  .timeline-icon.three{
	  background-color: #2ED903 !important;
  }
  
  .timeline-icon.four {
	  background-color: #F40E0E !important;
  }
	
	.timeline-icon.five {
	  background-color: #F8AAAA !important;
	}
	
	.timeline-icon.six {
	  background-color: #C889E5 !important;
	}
	
	.timeline-icon.seven {
	  background-color: #FDB344 !important;
	}

	.timeline-icon.eight {
	  background-color: #8CFBE7 !important;
	}
	
  .mfirst {
		 top:-10px;
		 left: 0%;
  }
  
  .m2 {
	   top:-10px;
		left:12%
  }
  
  .m3 {
	   top:-10px;
	  left:24%
  }
	
	.m4 {
		top:-10px;
	 left:36%
 }

 .m5 {
	top:-10px;
 left:48%
}

.m6 {
	top:-10px;
 left:60%
}

.m7 {
	top:-10px;
 left:72%
}
  
  .mlast {
	   top:-10px;
	  left:100%
  }
  
  .timeline-panel {
	  margin-top: 20%;
	  width: 500px;
	  height: 200px;
	  background-color: #cbd0df;
	  border-radius:2px;
	  position:relative;
	  text-align:left;
	  padding:10px;
	  font-size:20px;
	  font-weight:bold;
	  line-height:20px;
	  float:left;
  }
  
  .timeline-panel:after {
	  content:'';
	  position:absolute;
	  margin-top: -12%;
	  left:10%;
	  width:0;
	  height:0;
	  border:12px solid transparent;
	  border-bottom: 15px solid #cbd0df;
  }
	
	.givenmovies {
		list-style: none;
		color: white;
		max-width: 50%;
		padding: 20px;
		margin: 10px;
		background-color: #21262d; 
		border-radius: 5%;
		box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);  
		display: inline-block;
		text-align:center;
		overflow: hidden;
		position: relative;
		border: 1px solid #ddd;
	
	}
	
	.givenmovies #text-footer {
		width: 100%;
		height: 100%;
		top: 100%;
		left: 0;
		transition: top .5s ease;
	}
	
	.wrap-text {
		padding: 15px;
		display: block;
		position: absolute;
		z-index: 1;
		box-sizing: border-box;
		text-align: left;
	}
	
	.wrap-text p {
		font-family: 'Libre Baskerville', serif;
		font-weight: 400;
		font-size: 20px;
		font-weight: 100;
		text-align: center;
		margin-top: 0;
		color:black;
	}

	.givenmovies:hover #text-footer {
		top: 0%;
		background-color:white;
		opacity: 0.6;
		filter: alpha(opacity=60);
	}